body {
  font-family: Arial, sans-serif;
  background: #1f1f1f;
  color: #222;
  margin: 0;
  padding: 0;
}
h2
  {
    color: #7f7e7e;
  }
.container {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  background: rgb(109, 108, 108);
  padding: 30px;
  border-radius: 12px;
  top: 0; left: 0;
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
  
}
.table {
 background: rgba(47, 42, 42, 0.9);
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 Border-radius:12px;
}
h1 {
  text-align: center;
  color: #141515;
}

section {
  margin-top: 30px;
  padding-top: 20px;
}

input, select, button {
  margin: 5px;
 background-color:rgb(101, 99, 99);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000000;
}

button {
  background-color: #404041;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #09090a;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background: #404041;
  margin: 5px 0;
  padding: 10px;
  border-radius: 6px;
}

#resultadoRelatorio {
  margin-top: 10px;
  background: rgb(154, 154, 154);
  padding: auto;
  border-radius: 8px;
}